<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/about.css" />
    <title>About Us - Job Portal</title>
  </head>
  <body>
    <div class="ripple-background">
        <div class="circle xxlarge shade1"></div>
        <div class="circle xlarge shade2"></div>
        <div class="circle large shade3"></div>
        <div class="circle medium shade4"></div>
        <div class="circle small shade5"></div>
    <nav>
        <div class="logo">CarrerClick</div>
        <ul>
          <li><a href="/index" >Dashboard</a></li>
          <!-- <li><a href="#">Internships</a></li> -->
          <li><a href="/job" >Jobs</a></li>
          <li><a href="#" class="active">About Us</a></li>
          <!-- <li><a href="#">Profile</a></li> -->
          <li><a href="/login">LogIn</a></li>
        </ul>
      </nav>

    <section class="about-us">
      <div class="container">
        <h2>Contact Us</h2>
        <p>
          If you have any questions or inquiries, feel free to reach out to us:
        </p>
        <p>Email: <a href="mailto:info@jobportal.com">info@jobportal.com</a></p>
          <p>Phone: +1 (555) 123-4567</p>
          <br>
          
        <h2>About Us</h2>

        <p>
            Welcome to CarrerClick!

            We are a leading online job and internship portal that connects job seekers with employers from all over the world. We are committed to providing a user-friendly and comprehensive platform that makes it easy for job seekers to find the perfect job and for employers to find the top talent.
        </p>
        <p>
            Our Mission

            Our mission is to empower job seekers and employers to connect and succeed. We believe that everyone deserves the opportunity to find a fulfilling career, and we are dedicated to providing the tools and resources they need to make it happen.
        </p>
        
        <p>



            Our Values

We are guided by the following values:

Innovation: We are constantly striving to innovate and improve our platform to meet the evolving needs of our users.
User-centricity: We put our users first and are committed to providing a positive and rewarding experience.
Collaboration: We believe that collaboration is essential to success, and we foster a collaborative environment for our team and our users.
Diversity: We embrace diversity and inclusion and are committed to creating a workplace where everyone feels valued and respected.
        </p>
        
      </div>
    
      <div class="container">
        
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; 2023 CarrerClick</p>
      </div>
    </footer>

  </body>
</html>