<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/forget_password.css" />
    <title>Forget Password</title>
  </head>
  <body>

    <div class="ripple-background">
        <div class="circle xxlarge shade1"></div>
        <div class="circle xlarge shade2"></div>
        <div class="circle large shade3"></div>
        <div class="circle medium shade4"></div>
        <div class="circle small shade5"></div>


        <nav>
            <div class="logo">CarrerClick</div>
            <ul>
              <li><a href="/index" >Dashboard</a></li>
              <!-- <li><a href="#">Internships</a></li> -->
              <li><a href="/job">Jobs</a></li>
              <li><a href="/about">About Us</a></li>
              <!-- <li><a href="#">Profile</a></li> -->
              <li><a href="/login">LogIn</a></li>
            </ul>
          </nav>

           <div class="conm">
            <h1>Forgot Password</h1>
		    <h3 class="information-text">Enter your registered email to reset your password.</h3>
           </div>

     <div class="container">
      <form id="forgetPasswordForm">
        
      
        <label for="email">Enter your email id:</label>
        <input class="place
        " type="email" id="email" name="email" required />
        <button type="button" onclick="submitForm()">Submit</button>
        <p id="message"></p>
      </form>
    </div> 
    <script src="forget_password.js"></script>
  </body>
</html> 